__pycache__/
*.py[cod]

# build artefacts
build/
dist/
*.egg-info/

# LaTeX build artefacts
*.aux
*.log
*.out
*.toc
*.synctex.gz

# LaTeX build artefacts in docs/
docs/*.aux
docs/*.log
docs/*.out
docs/*.toc
